span {
  background-size: 500%;
  background-color: #FF4343;
  text-size: 75px;
}

a {
  color: #C99FFF;
  background-size: 500%;
  
}

div {
  text-size: 50px;
}

#meow {
  background-color: #FDFBFF;
}